.mapboxgl-popup-anchor-top-left {
  .mapboxgl-popup-tip {
    border-bottom-color: var(--joy-palette-background-surface);
    border-right-color: transparent;
  }

  .mapboxgl-popup-content {
    background-color: var(--joy-palette-background-surface);
  }
}